vsphere_server     = ""
vsphere_user       = "Administrator@vsphere.local"
vsphere_password   = ""
datacenter         = "PacketDatacenter"
datastore          = "datastore1"
cluster            = ""
network_name       = "VM Network"
dswitch_name       = "DSwitch"
ubuntu_name        = "tf-edu-ubuntu"
vm_domain          = "domain.local"
vm_folder          = "/Folder1"