vsphere_server = "vcenter.example.com"
vsphere_user = "Administrator@vsphere.local"
vsphere_password = "SECR3TP4SSW0RD"
datacenter = "PacketDatacenter"
host = "esxi.example.com"
datastore = "datastore1"
network_name = "VM Network"
vm_folder = "Folder"
sudo_password = "SECR3TP4SSW0RD"